aiohttp<4.0,>=3.0
alpha-vantage==2.2.0
asgiref==3.2.10
async-timeout==4.0.0a2
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
Django==3.1.2
django-polymorphic==3.0.0
foil==0.2.7
idna==2.10
iso8601==0.1.13
lxml==4.5.2
multidict==4.7.6
multitasking==0.0.9
numpy==1.19.2
pandas==1.1.2
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4
requests==2.24.0
scipy==1.5.4
six==1.15.0
sqlparse==0.3.1
typing-extensions==3.7.4.3
urllib3==1.25.10
yarl==1.6.0
yfinance==0.1.55